html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

:root {
		--fs: 22px;
		--size: 1.5em;
}

html {
		font-size: var(--fs);
}

libli-dom matrix-room-element {
	padding: var(--size);
}
